
.navbar{
    background-color: #333;
    overflow:hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-links > li{
    display: inline-block;
}

.nav-links > li > a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links > li > a:hover ,
.active {
    background-color: #111;
    box-shadow: 0 10px 10px #333
}
 
@media (max-width: 600px){
    .nav-links > li{
        display: block;
    }
    .nav-links{
        text-align: left;
    }
    .nav-links > li > a{

        color:lightblue;
    }
    
}